#header{
    width: $hundred;
    height: 80px;
    background: $black;
    @include flex (space-around);
    padding-left: 5%;
    padding-right: 5%;
}

@keyframes opacity_on {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.title{
    font-size: $big;
    color: $white;
}

.transition{
    animation-name: opacity_on;
    animation-duration: 4s;
    margin-bottom: $small;
}

.nav-voice,.description{
    font-size: $small;
    color: $white;
    cursor: pointer;
}

#principal-img{
    width: $hundred;
    height: 400px;
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contenitor-text{
    width: 500px; 
    height: 400px;
    position: absolute;
    top: 10%;
    right: 15%;
}

#sticky-bar{
    position: sticky;
    width: $hundred;
    height: 80px;
    background: rgb(204, 203, 203);
    padding-left: 5%;
    padding-right: 5%;
    @include flex(space-around);
    color: $black;
}

.middle-text{
    font-size: $middle;
    cursor: pointer;
}

#second-img{
    width: $hundred;
    height: 800px;
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flex (space-between);
    flex-direction: column;
    font-size: $maxi;
    color: $white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}

#contenitor-video{
    width: 950px;
    height: 550px;
    background: black;
    border-radius: 10px 10px 0px 0px;
    @include flex;
}

#girl-video{
    width: 900px;
}





